<div class="ui fluid vertical pointing massive menu">
    <a class="item">By Base Stats</a>

    <div class="item">
        By Role
        <div class="menu">
            <a class="active item">Sweeper</a>
            <a class="item">Wall</a>
            <a class="item">Support</a>
        </div>
    </div>

    <div class="item">
        By Stats
        <div class="menu">
            <a class="active item">Attack</a>
            <a class="item">Defense</a>
            <a class="item">Speed</a>
        </div>
    </div>

    <div class="item">
        By Type
        <div class="menu">
            <a class="active item">Fire</a>
            <a class="item">Grass</a>
            <a class="item">Water</a>
            <a class="item">Electric</a>
            <a class="item">Flying</a>
        </div>
    </div>
</div>

<!-- Create schema and make this dynamic -->
