<div class="ui fluid vertical pointing massive menu">
    <div class="item">
        By Base Stats
        <div class="menu">
            <a class="u-ml-10 item active">Alphabetical</a>
        </div>
    </div>
    <div class="item">
        By Role
        <div class="menu">
            <a class="u-ml-10 item">Sweeper</a>
            <a class="u-ml-10 item">Wall</a>
            <a class="u-ml-10 item">Support</a>
        </div>
    </div>

    <div class="item">
        By Stats
        <div class="menu">
            <a class="u-ml-10 item">Attack</a>
            <a class="u-ml-10 item">Defense</a>
            <a class="u-ml-10 item">Speed</a>
        </div>
    </div>

    <div class="item">
        By Type
        <div class="menu">
            <a class="u-ml-10 item">Fire</a>
            <a class="u-ml-10 item">Grass</a>
            <a class="u-ml-10 item">Water</a>
            <a class="u-ml-10 item">Electric</a>
            <a class="u-ml-10 item">Flying</a>
        </div>
    </div>
</div>

<!-- Create schema and make this dynamic -->
