<div fxFlexFill fxLayout="column" style="height: 100vh">
    <div class="ui inverted menu u-mb-0">
        <a class="icon item">
            <i class="content icon"></i>
        </a>
        <div class="header item">XGraphs</div>

        <a class="item active">Informatics</a>
        <a class="item">Data Analysis</a>
        <a class="item">Team Management</a>
    </div>

    <div style="height: 100%">
        <div class="container" style="height: 100%">
            <as-split unit="percent" [direction]="direction" #split="asSplit" (dragEnd)="dragEnd('percent', $event)">
                <as-split-area [size]="sizes.percent.leftSize" #leftArea="asSplitArea">
                    <app-sidenav></app-sidenav>
                </as-split-area>
                <as-split-area [size]="sizes.percent.rightSize" #rightArea="asSplitArea">
                    <router-outlet></router-outlet>
                </as-split-area>
            </as-split>
        </div>
    </div>
</div>


